*{
    background-color: rgb(14, 109, 109);
}
.box{
    width: 300px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0); 
    padding: 10px;
    margin: 20px;
    align-items: center;
    text-align: center;
}